/* Fonts */
main {
    font-family: 'Noto Sans KR', Times, serif;
}
.korean {
    font-family: 'Noto Sans KR', sans-serif;
}
h1, h2 {
    font-family: 'PT Serif', Times, serif;
}
.home {
    font-family: 'Catamaran', sans-serif;
}

html, body {
    background-color: var(--cnavy);
}

/* Main */
main {
    margin: 5rem 0;
    color: var(--cblack);
    font-size: 1rem;
    text-align: left;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
main > div {
    position: relative;
    width: 840px;
    max-width: 90%;
    margin-bottom: 2rem;
    border-radius: 2rem;    
    background-color: var(--cbeige);
}
article {
    padding: 0 3rem 3rem;
}

/* Contents */
p, article div {
    margin-bottom: 0.5rem;
}
h1, h2 { color: var(--cnavy); }
h1 {
    margin: 1.5rem 0;
    text-align: center;
    font-size: 2.5rem;
}
h2 {
    margin: 1rem 0;
    font-size: 1.75rem;
}
hr {
    margin: 0;
    border: 1px solid var(--cnavy);
}
abbr { font-weight: bold; }
.u { text-decoration: underline; }
article a {
    color: var(--cnavy);
}
article a:hover {
    color: var(--cbeige);
    background-color: var(--cnavy);
}

/* Home link */
.home {
    text-decoration: none;
    z-index: 10000;
    position: fixed;
    display: block;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;

    color: var(--cnavy);
    border: 3px solid var(--cnavy);
    border-radius: 3rem;
    background-color: var(--cbeige);

    transition: transform 0.2s;
}

.home:hover {
    transform: scale(1.3);
}

/* Responsive */
@media screen and (max-height: 600px) {
    main { margin-top: 0; margin-bottom: 0; }
}

@media screen and (max-width: 720px) {
    main { margin-top: 0; margin-bottom: 0; }
    main > div {
        max-width: 100%;
        border-radius: 0;
    }
    article {
        padding: 0 1.5rem 3rem;
    }
    .home {
        top: 0.5rem;
        left: 0.5rem;
        color: var(--cbeige);
        border: 3px solid var(--cbeige);
        background-color: var(--cnavy);
    }
}

/* Print */
@media print {
    main {
        margin-top: 0;
        margin-bottom: 0;
    }
    main > div { max-width: 100%; }
    .home { display: none; }
}
