/* Small Screen */
@media screen and (max-width: 820px) {
    .exam { align-items: start; }
}
@media screen and (max-width: 680px) {
    .menu-content { top: 0.5rem; }
    .menu-content > summary, .menu-buttons > button { padding-left: 0.5rem; }

    .exam { margin: 0; }
    .exam-type { display: none; }
    .exam section, .show-answer .answers {
        width: 100%;
        min-width: 360px;
        min-height: 0;
        margin: 0;
        padding: 0;
        box-shadow: none;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .answers .table-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }

    .exam header {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid var(--cblack);
    }
    .exam > section:first-child > header { border-top: none; }
    .exam header::before { display: none; }
    .exam footer { display: none; }
    .exam .side-l, .exam .side-r {
        width: 360px;
        height: auto;
        border: none;
        padding: 0;
        justify-self: center;
    }
    .exam article {
        height: auto;
        min-height: 0 !important;
        margin-bottom: 150px !important;
    }
    .exam h2 { font-size: 20px; }
    .exam h3 { font-size: 15px; margin-top: 15px; }
}

/* Print */
@page {
    size: 794px 1123px;
    margin: 0px;
}
@media print {
    :root {
        --cpaper: white;
        --cgray: #ccc;
        --cblack: black;
        font-size: 16px !important;
    }
    html, body {
        margin: 0 !important;
        padding: 0 !important;
    }
    .exam {
        margin: 0 !important;
        display: block !important;
    }
    .exam section, .show-answer .answers {
        width: 100% !important;
    }
    .menu-content {
        display: none !important;
    }
    .answers {
        height: 1123px !important;
        break-after: page;
        margin: 0 !important;
        overflow: hidden !important;
        box-shadow: none !important;
    }
    .show-answer .shortans {
        display: none !important;
    }
    .show-answer .choiceans {
        background-color: initial !important;
        margin: initial;
        padding: initial;
        border-radius: initial;
    }
    .exam ol.col-1 .choiceans {
        margin-left: 22px !important;
    }
    .exam section {
        width: 794px !important;
        height: 1123px !important;
        max-height: 1123px !important;
        margin: 0 !important;
        overflow: hidden !important;
        break-before: page !important;
        box-shadow: none !important;
    }
    .exam section:first-of-type {
        break-before: auto !important;
    }
    .exam img { mix-blend-mode: normal !important; }
}
