/* Fonts */
.exam h1, .exam h2, .elective-type, .menu-content, .menu-content button {
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
}
.exam h3, .exam .exam-type, .sans {
    font-family: 'Asap Condensed', sans-serif;
    font-weight: normal;
}
.exam article, .exam h6 {
    font-family:'PT Serif', 'Libertinus Math', Times, serif;
}
.exam header::before, .exam article::before, .exam footer, .exam article small {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: normal;
}
.exam .question-type, .exam .question-type-old, .exam .flavor-sans {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
}
.exam.old h1, .exam.old h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}
.answers th {
    font-family: 'Asap Condensed', sans-serif;
    font-weight: normal;
}
.answers td, .shortans {
    font-family: 'Libertinus Math', Times, serif;
}

/* Menu (details) */
.menu-content {
    z-index: 10000;
    position: fixed;
    display: block;
    top: 1rem;
    left: 0;
    padding: 0;
    line-height: 3rem;
}
/* Menu (summary) */
.menu-content > summary {
    width: 3rem;
    height: 3rem;
    padding: 0 0.5rem 0 1rem;
}
.menu-content > summary::marker { content: '' }

/* Menu buttons */
.menu-buttons {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.menu-buttons > button {
    padding: 0.25rem;
    padding-left: 1rem;
    width: 6.5em;
}

.menu-content > summary, .menu-buttons > button {    
    font-size: 1.125rem;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    text-align: left;

    color: var(--cnavy);
    border: 3px solid var(--cnavy);
    border-left: none;
    border-radius: 0 3rem 3rem 0;
    background-color: var(--cpaper);
    transform-origin: 0 50%;
    transition: transform 0.2s;
}
.menu-content > summary:hover, .menu-buttons > button:hover {
    transform: scale(1.15);
}
.menu-content[open] > summary, .show-answer #show-answer {
    color: var(--cpaper);
    background-color: var(--cnavy);
}

/* Answers page */
.answers {
    width: 49.625rem; /* 794px, 210mm */
    margin: 2rem auto;
    padding: 2.5rem 4rem;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    box-shadow: var(--cshadow) .375rem .375rem .625rem;
    background-color: var(--cpaper);

    display: none;
    flex-direction: column;
    align-items: stretch;
}
.show-answer .answers { display: flex; }


/* Answer Table */
.answers .table-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0.5em;
}
.answers .table-container table {
    border: 3px solid var(--cblack);
}
.answers .info {
    border-top: 2.5px solid var(--cblack);
    border-bottom: 2.5px solid var(--cblack);
}
.exam .answers th, .exam .answers td {
    border: 1.5px solid var(--cgray7);
}
.answers td:nth-child(3n), .answers .info th:nth-child(3n) {
    border-right: 2.5px solid var(--cblack);
}
.exam .answers td:nth-child(3n+2) {
    font-size: 1.25em;
}
.exam .answers td:nth-child(3n) {
    color: var(--cgray7);
}
.exam .answers th, .exam .answers td {
    padding: 0 .25em;
    line-height: 1.5em;
}
.exam .answers .row2 {
    line-height: 3em;
}
/* Bottom Right cell */
.exam .answers .cell-br {
    border-top: 3px solid var(--cblack);
    border-left: 3px solid var(--cblack);
    border-right: 3px solid transparent !important;
    border-bottom: 3px solid transparent !important;
}

/* Short answers */
.shortans { display: none; }
.show-answer .shortans {
    display: block;
    font-size: 2em;
    margin-top: 0.5em;
    line-height: 1.5em;
    text-align: center;
}
.show-answer .shortans span {
    padding: 0 0.5rem;
    background-color: var(--cgreen);
    border-radius: 0.25rem;
}
/* Multiple choice answers */
.show-answer .choiceans {
    background-color: var(--cgreen);
    padding: 0.25rem 0 0.25rem 0.25rem;
    margin: -0.25rem 0 -0.25rem -0.25rem;
    border-radius: 0.25rem;
}
.show-answer .col-1 .choiceans {
    margin: 0;
    padding: 0;
    border-left: 1.375rem solid var(--cgreen);
}


/* Everything fits in .exam */
.exam {
    counter-reset: page-total 1 page 1 question 1;
    color: var(--cblack);
    background-color: var(--cbeige);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 2rem 0;
}
.MathJax { font-size: 100% !important; }

/* Page */
.exam section {
    position: relative;
    width: 49.625rem; /* 794px, 210mm */
    min-height: 70.1875rem; /* 1123px, 297mm */
    padding: 4.5rem 4rem;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    box-shadow: var(--cshadow) .375rem .375rem .625rem;
    background-color: var(--cpaper);

    /* Grid settings */
    display: grid;
    grid-template-rows: minmax(3em, auto) 1fr 3em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        " header header "
        " side-l side-r "
        " footer footer ";
}
.exam.old section {
    grid-template-rows: minmax(3em, auto) 1fr 0;
}

/* Header */
.exam header {
    grid-area: header;
    border-bottom: 1.5px solid var(--cblack);
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

/* Controlling page number */
.exam header::before {
    content: counter(page);

    position: absolute;
    top: .5rem;
    margin: 0;
    font-size: 2.125rem;
    line-height: 1em;
}
.exam header::after {
    content: "";
    counter-increment: page;
}
.exam.old header::before {
    top: 0.75rem;
}
.exam section:first-child > header::before,
.exam section.question-reset-23 > header::before {
    top: -0.5rem;
}
.exam section:nth-of-type(odd) header::before { right: 0; }
.exam section:nth-of-type(even) header::before { left: 0; }

/* Resetting question or page */
.exam section.question-reset-23 {
    /* used in 2022~ */
    counter-set: page 1 question 23;
}
.exam section.question-reset-26 {
    /* used in 2005~2011 */
    counter-set: question 26;
}

/* Title (first page) */
.exam h1 {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
}
.exam.old h1 {
    margin: 0 0 .25rem;
    font-size: 2.25rem;
}
/* Title (all other pages) */
.exam h2 {
    margin: 0 0 -.25rem;
    font-size: 1.875rem;
}
.exam.old h2 {
    margin: 0 0 .125rem;
    font-size: 1.75rem;
}
/* Subtitle (first page) */
.exam h3 {
    margin: 0 0 -.25rem;
    font-size: 1.25rem;
}
/* Text in rounded div */
.exam .exam-type {
    font-size: 1.125rem;
    position: absolute;
    bottom: .375rem;
    left: 0;
    border: 1.5px solid var(--cblack);
    border-radius: 10rem;
    padding: .125rem .5rem;
}
.exam section:nth-of-type(even) .exam-type { left: 1.875rem; }

/* Question container */
.side-l, .side-r {
    position: relative;
    overflow: hidden;
}
.side-l {
    grid-area: side-l;
    padding-right: 0.75rem;
}
.side-r {
    grid-area: side-r;
    border-left: 1.5px solid var(--cblack);
    padding-left: 0.75rem;
}

/* Question */
.exam article {
    width: 20rem;
    min-height: 50%;
    margin-top: .75rem;
    padding: 0 0 0 .75rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: .8125rem;
    line-height: 1.53em;
}
.exam.dense article {
    min-height: unset;
}
.exam.dense article {
    font-size: .75rem;
    line-height: 1.2em;
}
.exam article::before {
    content: counter(question) ". ";
    margin-left: -.75rem;
    margin-right: .25rem;
    font-size: .9375rem;
}
.exam article::after {
    content: "";
    counter-increment: question;
}

/* Question Type */
.exam .question-type {
    font-size: .8125rem;

    display: inline-block;
    margin: .5rem 0 0;
    border: 1.5px solid var(--cblack);
    padding: .125rem 1rem;
}
/* Offseting the question after .question-type */
.exam .question-type + article { margin-bottom: -2.0625rem; }
/* Elective subject type */
.exam .elective-type {
    margin: .5rem 0 1rem;
    background-color: var(--cgray);
    
    text-align: center;
    font-size: 1.625rem;
    line-height: 2.5rem;
}
.exam .elective-type + article { margin-bottom: -4.3125rem; }

/* Old question type format */
.exam .question-type-old {
    margin: 2.5rem 1.5625rem;
    border: 1.5px solid var(--cblack);
    padding: .25rem;
    background-color: var(--cgray);

    text-align: center;
    font-size: 1.125rem;
}

/* Choices */
.exam article > ol, .exam .select {
    margin: 1rem 0;
    padding: 0;
    display: flex;

    justify-content: space-between;
    align-items: baseline;
    /* list-style-type: symbols(cyclic "①" "②" "③" "④" "⑤"); */
    list-style-type: none;
}
.exam.dense article > ol, .exam.dense .select { margin: .5rem 0 0; }
.exam ol.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .125rem;
}
.exam ol.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .125rem;
}
.exam ol.col-1 {
    display: block;
}
.exam :is(article > ol, .select) li { margin-bottom: 8px; }
.exam ol.col-1 li {
    margin-bottom: .25rem !important;
    margin-left: 1.375rem;
    text-indent: -1.375rem;
}
.exam ol.col-1 li::before {
    margin-right: .375rem;
}
.exam :is(article > ol, .select) li::before, .choicenumber { font-size: 125%; }
.exam :is(article > ol, .select) li:nth-child(1)::before { content: "① "; }
.exam :is(article > ol, .select) li:nth-child(2)::before { content: "② "; }
.exam :is(article > ol, .select) li:nth-child(3)::before { content: "③ "; }
.exam :is(article > ol, .select) li:nth-child(4)::before { content: "④ "; }
.exam :is(article > ol, .select) li:nth-child(5)::before { content: "⑤ "; }
.exam :is(article > ol, .select)::after { content: ""; }


/* Various elements inside questions */
/* "[N points]" element */
.exam article > small {
    margin-left: .25rem;
    letter-spacing: -0.2px;
}
.exam article small.right {
    display: block;
    text-align: right;
}
/* a paragraph tabbed in */
.exam .tab, .exam .tab-short { margin-left: 2rem; }
.exam .box .tab, .exam .box .tab-short { margin-left: 1.25rem; }
/* a paragraph centered */
.exam .center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* a box with outline */
.exam .box, .exam .box-list {
    margin-right: .5rem;
    border: 1.5px solid var(--cblack);
    padding: .375rem .625rem;
}
.exam.dense .box, .exam.dense .box-list {
    margin-right: 0;
    padding: .25rem .375rem;
}
/* the <List> box */
.exam .box-list { position: relative; }
.exam .box-list::before {
    content: "< L i s t >";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-.6875rem);
    padding: 0 .0625rem;
    text-align: center;
    background-color: var(--cpaper);
}
.exam.dense .box-list::before {
    transform: translateX(-50%) translateY(-.5rem);
}
.exam .tab, .exam .center, .exam .box, .exam .box-list {
    margin-top: 1em;
    margin-bottom: 1em;
}
.exam.dense .tab, .exan.dense .center, .exam.dense .box {
    margin-top: .5em;
    margin-bottom: .5em;
}
.exam.dense .box-list { margin-bottom: .5em; }
/* Used in 'questions 13-14' in 2014-2016 */
.exam .flavor-sans {
    margin-top: .25rem;
    margin-left: .75rem;
    text-indent: -.75rem;
    font-size: .8125rem;
}
/* Big text */
h6 {
    display: inline;
    font-size: 125%;
    font-weight: inherit;
}

/* table */
.exam table {
    border-collapse: collapse;
}
.exam th, .exam td {
    border: 1.5px solid var(--cblack);
    text-align: center;
    padding: .25rem .5rem;
}
.exam .noborder, .exam .noborder th, .exam .noborder td { border: none; }
.exam.dense th, .exam.dense td { padding: 0 .2rem; }
.exam table.no-border th, .exam table.no-border td { border: none; }
.exam table.short th, .exam table.short td {
    padding: 0 .5rem;
}

/* Lists */
/* (A) (B) (C) - used in .box on its own */
.exam ol.upper, .exam ol.lower {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style-type: none;
    /* Why is ::marker not supported on my phone? */
}
.exam ol.upper > li, .exam ol.lower > li { margin: .125rem 0 .125rem 1.5rem; }
.exam.dense ol.upper > li, .exam.dense ol.lower > li { margin: .125rem 0 .125rem 1.125rem; }
.exam ol.upper > li::before, .exam ol.lower > li::before {
    display: inline-block;
    letter-spacing: -0.5px;
    width: 1.5rem;
    margin-left: -1.5rem;
}
.exam.dense ol.upper > li::before, .exam.dense ol.lower > li::before {
    width: 1.125rem;
    margin-left: -1.125rem;
}
.exam ol.upper > li:nth-child(1)::before { content: "(A)"; }
.exam ol.upper > li:nth-child(2)::before { content: "(B)"; }
.exam ol.upper > li:nth-child(3)::before { content: "(C)"; }
.exam ol.lower > li:nth-child(1)::before { content: "(a)"; }
.exam ol.lower > li:nth-child(2)::before { content: "(b)"; }
.exam ol.lower > li:nth-child(3)::before { content: "(c)"; }

/* Bullet points - used in .box */
.exam .box ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.exam .box ul > li { margin: .125rem 0 .125rem 1.5rem; }
.exam.dense .box ul > li { margin: .125rem 0 .125rem 1.125rem; }

/* (i) (ii) (iii) - used in .box between paragraphs */
.exam ol.roman {
    padding-inline-start: 0;
    list-style-type: none;
}
.exam ol.roman > li { margin: .125rem 0 .125rem 1.375rem; }
.exam ol.roman > li::before {
    display: inline-block;
    letter-spacing: -0.7px;
    width: 1.375rem;
    margin-left: -1.375rem;
}
.exam ol.roman > li:nth-child(1)::before { content: "(i)"; }
.exam ol.roman > li:nth-child(2)::before { content: "(ii)"; }
.exam ol.roman > li:nth-child(3)::before { content: "(iii)"; }
.exam ol.roman > li:nth-child(4)::before { content: "(iv)"; }
.exam ol.roman > li:nth-child(5)::before { content: "(v)"; }

/* Dotted lines - used in .box */
.exam .divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exam .divider > .line {
    flex: auto;
    border-bottom: 1.5px dotted var(--cblack);
    margin: 0 .375rem;
    transform: translateY(-50%);
}


/* a. b. c. - used in .box-list */
.exam ol.alpha {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: .875rem;
    list-style-type: lower-alpha;
}
.exam ol.alpha > li { margin: .125rem 0; }

/* Images */
.exam img {
    max-width: 100%;
    mix-blend-mode: multiply; /* remove white background */
}

/* Other */
.u {
    text-decoration: underline;
}


/* letter spacing */
.exam .shrink-1 {
    letter-spacing: -0.2px;
}
.exam .shrink-2 {
    letter-spacing: -0.5px;
}

/* vertical spacing */
.exam .space { margin-bottom: .5rem;}

/* Footer */
.exam footer {
    grid-area: footer;
    justify-self: center;
    align-self: center;
    width: 3rem;
    height: .9375rem;
    
    border: 1.5px solid var(--cblack);
    padding: .5625rem .25rem 0;
    position: relative;

    font-size: .75rem;
    text-align: right;
}
.exam footer::before {
    float: left;
    margin-top: -.5625rem;
    content: counter(page-total);
}
.exam footer::after {
    content: "";
    counter-increment: page-total 1;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 3.8125rem;
    border-top: 1.5px solid var(--cblack);
    transform: rotate(-23.2deg);
    transform-origin: 0% 100%;
}
