html {
    --cwhite: white;
    --cgray: #ccc;
    --cblack: black;
    --cpaper: #fffbf7;
    --cbeige: #d8d1c7;
    --cnavy: #475365;
    --cshadow: #504d4b;
    --buttongrad: linear-gradient(
        0deg,
        rgba(20, 167, 62, 1) 0%,
        rgba(102, 247, 113, 1) 100%
    );
}

html, body {
    margin: 0;
    padding: 0;
}

/* Hide and Show with size */
.show400 { display: none; }
@media screen and (max-width: 400px) {
    .show400 { display: initial; }
    .hide400 { display: none; }
}

/* Print */
@media print {
    :root {
        --cnavy: black;
        --cbeige: white;
    }
    html, body {
        margin: 0;
        padding: 0;
    }
}
