/* Fonts */
main {
    font-family: 'PT Serif', Times, serif;
}
.name-text {
    font-family: 'Asap Condensed', sans-serif;
}
.exam-container a {
    font-family: 'PT Serif', Times, serif;
}
.small-screen-link {
    font-family: 'Catamaran', sans-serif;
}

html, body {
    background-color: var(--cnavy);
}

/* Title */
#title {
    position: absolute;
    z-index: 10000;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 6.25rem;
    background-color: transparent;
    overflow-x: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main */
main {
    margin-top: 5rem;
    min-height: max(100vh, 30rem);
    color: var(--cbeige);
    text-align: center;

    overflow: hidden;

    display: flex;
    justify-content: center;
}
main > div {
    position: relative;
    width: 840px;
    max-width: 90%;
    border: 3px solid var(--cbeige);
    border-bottom: none;
    border-radius: 2rem 2rem 0 0;
}
.title-space {
    height: 6.25rem;
}

/* Zye Presents */
.name-text {
    position: absolute;
    font-size: 1.25rem;
    left: 0.25rem;
    margin-top: -1.375rem;
}

/* Flavor text */
.flavor-text {
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: var(--cbeige);
    font-size: 1.25rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    white-space: pre;
    color: var(--cnavy);
}

/* Links */
a { text-decoration: none; }
/* Usual */
.exam-container a {
    display: block;
    margin: 1rem 1rem 2.5rem;
    padding: 0.25rem;

    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: var(--cbeige);
    background-color: var(--cblack);

    transition: margin 0.2s, padding 0.2s, font-size 0.2s;
}

.exam-container a:hover {
    background-color: var(--cnavy);
    /* outline: 0.5rem solid var(--cnavy); */
    margin: 0.8rem 0.5rem 2.5rem;
    padding: 0.5rem 0;
    font-size: 3.3rem;
}

/* Small screen */
.small-screen-link {
    display: none;
    margin: 1.5rem 3rem 0;
    border: 1px solid var(--cbeige);
    border-radius: 25px;
    padding: 0;
    box-shadow: var(--cblack) 4px 4px 3px;

    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--cnavy);
    background-color: var(--cbeige);
}


/* Example Exam */
.exam-container {
    position: relative;
}
.exam-container2 {
    position: absolute;
    left: 50%;
    background-color: transparent;
    text-align: left;
    transform: translate(-50%, -90px) scale(0.75) skew(2deg, 358deg);
}
.exam-page {
    position: absolute;
    width: 794px;
    min-height: 1123px;
    box-shadow: var(--cshadow) 6px 6px 10px;
    background-color: var(--cbeige);
}
.exam-page:nth-of-type(1) {
    transform: rotate(-2deg) translate(-0.3%, 2%);
    opacity: 0.6;
}
.exam-page:nth-of-type(2) {
    transform: rotate(5deg) translate(-0.2%, 0%);
    opacity: 0.7;
}
.exam-page:nth-of-type(3) {
    transform: rotate(2deg) translate(0.3%, -0.5%);
    opacity: 0.8;
}
.exam section {
    min-height: 1123px;
    margin: 0;
    padding-bottom: 0;
    grid-template-rows: minmax(48px, auto) 1fr;
    background-color: var(--cbeige);
}

/* Gradient */
footer {
    content: '';
    position: fixed;
    inset: auto 0 0;
    height: 20%;
    background: linear-gradient(180deg, transparent 0%, var(--cnavy) 80%);
}

@media only screen and (max-width: 720px) {
    /* main::after { height: 0; } */
    #title { top: 0; }
    main { margin-top: 0; }
    main > div { max-width: 100%; border: none; }
    .name-text { display: none; }

    .small-screen-link { display: block; }
    .exam-container a { display: none; }
    .exam-container2 { transform: translate(-50%, 0) scale(0.9) skew(2deg, 358deg); }
}

/* Responsive */
@media only screen and (max-height: 600px) {
    footer {
        height: 15%;
        background: linear-gradient(180deg, transparent 0%, var(--cnavy) 90%);
    }
    #title { top: 0; }
    main { margin-top: 0; }
    main > div { border-top: none; }
}


@media only screen and (max-width: 480px) {
    .exam-container2 { transform: translate(-50%, -5rem) scale(0.75) skew(2deg, 358deg); }
    .small-screen-link { margin: 1.5rem 1.5rem 0; }
}