body {
    overflow-y: scroll;
}

.details1 {
    border-top: 2px solid var(--cnavy);
}

/* WIP notice */
.wip {
    margin: 0.5rem 2.5rem 1rem;
    padding: 0.25rem 0;
    font-family: 'Roboto Slab', serif;
    font-size: 1.25rem;
    text-align: center;
    color: var(--cbeige);
    background-color: var(--cnavy);
}


@media screen and (max-width: 720px) {
    .wip { margin: 0.5rem 0.5rem 1rem; }
}